---
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const lists = await getCollection("bookLists");

  return lists.map(({slug, data: bookList}) => ({
    params: {
      slug
    },
    props: {
      bookList
    }
  }));
}
const { bookList } = Astro.props;
---
<Layout title={`${bookList.title} | ${SITE.title}`}>
    <Header activeNav="books"/>
    <Breadcrumbs />
    <main id="main-content">
      <section class="my-6 max-w-3xl w-full h-full">
        <iframe            
            id={bookList.title}
            scrolling="no"
            class="border-skin-line border-4"
            width="100%"
            height={bookList.height || 670}
            title="FjellOverflow on Bookwyrm"
            src={bookList.url}/>
      </section>
    </main>
    <Footer/>
</Layout>